<html>
  <head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <h1>STUPID COACHING</h1>
  <div class="message" >
    <p> <%= params["question"]  %> </p>
    <p class="didascalies"> -You </p>
  </div>
  <div class="message" >
    <p> <%= @answer %> </p>
    <p class="didascalies"> -Your coach </p>
  </div>

  <h2> <%=link_to "Ask a new question", ask_path %></h2>
</html>
